body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#Photo{
  border: 3px solid #5891c7;
  height: 220px;
  width: 150px; 
}
.holder{
  border: 3px solid #5891c7;
  margin-top: 10px;
  background-color:#ebeef0;   
}
.btn{
  margin: 3px;
}